@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: black;
  width: auto;
  max-width: 1440px;
}
* {
  font-family: "Montserrat", sans-serif;
}
