.react-chatbot-kit-chat-inner-container {
  background-color: black !important;
}
.react-chatbot-kit-chat-message-container {
  background-color: black !important;
}
.react-chatbot-kit-chat-header {
  background-color: black !important;
  border: 1px solid grey;
  color: white !important;
}
.react-chatbot-kit-chat-input-form {
  background-color: black;
  & button {
    height: auto;
  }
}
.react-chatbot-kit-chat-message-container {
  height: 450px !important;
}
.react-chatbot-kit-chat-message-container::-webkit-scrollbar{
  display: none;
}