.moreH{
    color: #65d46e;
    background-color: black;
}
.jKLQUD {
   background-color: black;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.15) 0px 1px 2px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 6px 10px 6px;
    padding: 16px;
    
}
.jhfINk{
    border: 1px solid #65d46e;
    border-radius: 30px;
}
.href{
    display: flex;
    flex-direction: column;
    gap: 10px;
    & a{
        border: 1px solid #65d46e;
        border-radius: 20px;
        padding: 1rem;
    }    
}
.iAuOXT{
    display: none;
}