a {
  color: white;
  text-decoration: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.navbar {
  justify-content: space-between;
  gap: 100px;
  padding: 20px 50px 0 50px;
  & .flex-row {
    gap: 50px;
  }
  & a:hover {
    text-decoration: underline;
    font-weight: 500;
    transition: all 0.5s ease;
  }
}
img {
  width: 100px;
  height: 50px;
}
