.body {
  color: white;
}
.main-help {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}
h3 {
  font-size: small;
}
p {
  font-size: smaller;
}
.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comment img {
  width: auto;
  height: auto;
}
.comment img:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

.comment p {
  line-height: 30px;
}
.comment a:hover {
  color: #65d46e;
  text-decoration: underline;
}
