.main-history {
  width: auto;
  max-width: 1300px;
  height: 600px;
  border: 1px solid #65d46e;
  border-radius: 100px;
  margin: 10px 1rem -10px 1rem;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  & .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  & h3 {
    font: 30px sans-serif;
    
  }
  & .arrows {
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

  }
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #65d46e;
  border: 1px solid #65d46e;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
