/* Table.css */
.css-15wwp11-MuiTableHead-root{
background-color: black !important;
}

.table-container {
    background-color: black !important; /* Change the background color of the table container */
  }
  .table-body{
    margin-top:3rem !important;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .table {
    background-color: #ffffff; /* Change the background color of the table */
   

  }

  
.th{
    background-color: black !important;
}
.table{
    color:white;
    background-color: black !important;
      
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #65d46e;
    border:0 !important;
  }